@use "typography" as *;
@use "variables" as *;

html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-header {
  color: $text-color-main;
  height: 70px;
  box-sizing: border-box;
  .navigation {
    display: flex;
    justify-content: space-between;
    height: 70px;
  }
  .navigation-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .navigation-right {
    margin-left: 450px;
  }
  .navigation-item {
    cursor: pointer;
  }
  .navigation-link {
    color: inherit;
    text-decoration: none;
  }
  .want-there {
    @include button-small();
    color: $text-color-white;
    background-color: $button-color-main;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 36px;
    border-radius: 4px;
  }
}

.section-welcome {
  background-image: url("/images/Welcome-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 1200px;
  height: 485px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-advantages {
  padding-top: 69px;
  .advantages-title {
    text-align: center;
  }
  .advantages-description {
    @include text-basic();
    text-align: center;
    margin-top: 25px;
    margin-bottom: 90px;
  }
  .advantages-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "header-left header-right header-right"
      "center-1 center-2 center-3"
      "footer-left footer-left footer-right";
  }
  .advantages-item {
    width: 400px;
    height: 385px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .blue {
    background-color: $background-main;
    color: $text-color-white;
  }
  .advantages-header-right {
    grid-area: header-right;
  }
  .advantages-footer-left {
    grid-area: footer-left;
  }

  .advantages-item-title {
    text-align: center;
  }
  .advantages-item-description {
    @include text-block();
    text-align: center;
    margin-top: 0;
  }
}

.section-services {
  padding-top: 64px;
  .services-title {
    text-align: center;
  }
  .services-description {
    @include text-basic();
    text-align: center;
  }
  .services-list {
    margin-top: 64px;
    list-style-type: none;
    display: flex;
    gap: 10px;
    padding: 0;
  }
  .services-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 385px;
  }
  .service-item-title {
    text-align: center;
    margin-top: 30px;
  }
  .service-item-description {
    text-align: center;
    @include text-block();
    margin-top: 30px;
  }
  .services-item-img {
    width: 75px;
    height: 72px;
    text-align: center;
  }
}

.section-booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 96px;
  .booking-title {
    text-align: center;
  }
  .booking-description {
    @include text-basic();
    text-align: center;
  }
  .booking-button {
    @include button-big();
    border-radius: 4px;
    background-color: $button-color-main;
    color: $text-color-white;
    width: 376px;
    height: 52px;
    margin-top: 40px;
    cursor: pointer;
  }
}

.section-subscription {
  width: 1200px;
  height: 415px;
  background-image: url("/images/Subscription-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .subscription-title {
    color: $text-color-white;
    text-align: center;
  }
  .subscription-description {
    color: $text-color-white;
    text-align: center;
  }
  form {
    margin-top: 22px;
    width: 684px;
    height: 52px;
    display: flex;
    justify-content: flex-end;
    //align-items: center;
  }
  #subscription-email {
    background-color: $background-base;
    height: 52px;
    width: 60%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    outline: none;
    padding-left: 20px;
    font-size: 18px;
    line-height: 24px;
    box-sizing: border-box;
  }
  .subscription-button {
    @include button-big();
    width: 40%;
    height: 52px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    background-color: $button-color-secondary;
    outline: none;
    color: $text-color-white;
    cursor: pointer;
  }
}

.page-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 120px;
  gap: 235px;

  .social-list {
    list-style-type: none;
    display: flex;
  }
  .footer-nav-item {
    padding: 12px;
  }
  .contact-phone {
    @include phone-text();
    text-decoration: none;
    color: $text-color-main;
  }
}

.visual-hidden {
  visibility: hidden;
}
