@use "variables" as *;

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@mixin button-big {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

@mixin button-small {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

@mixin button-small-regular {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

@mixin button-small-regular-titlecase {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  text-transform: capitalize;
}

@mixin phone-text {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
@mixin text-checkbox {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0%;
}
@mixin text-block {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0%;
}

@mixin text-small {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0%;
}

@mixin text-basic {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0%;
}

@mixin text-input {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
}

body {
  font-family: "PT Sans", sans-serif;
  background-color: $background-base;
  color: $text-color-main;
  @include text-basic();
  width: 1200px;
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  letter-spacing: 0%;
  margin: 0;
}
h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin: 0;
}

h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin: 0;
}

h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: capitalize;
  margin: 0;
}
