
// COLORS
$text-color-main: #000000;
$text-color-secondary: #333333;
$text-color-white: #FFFFFF;
$text-color-white-second: rgba(255, 255, 255, 0.3);
$text-color-error: #FF5757;

// BUTTONS
$button-color-main: #756157;
$button-color-secondary: #82B3D3;
$button-color-chosen: #7DB54F;

// BACKGROUNDS
$background-base: #FFFFFF;
$background-main: #82B3D3;
$background-secondary: rgba(131, 179, 211, 0.12);

// ICONS
$icons-color-base: #000000;
$icons-color-secondary: #83B3D3;
$icons-color-green: #7DB54F;

// FORMS
$form-input: #3F5E72;
$form-element: #E5E5E5;
$form-element2: #F2F2F2;


